body {
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1000px;
}

@media screen and (max-width: 992px) {
    body {
      background-color: blue;
    }
}

@media screen and (max-width: 600px) {
    body {
      background-color: olive;
    }
}

#carre {
  background-color: black;
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  

}

#pawn {
  color: white;
  font-size: 10em;
  position: relative;
}